:root{
    --cyan:#1bbc9c;
    --white-smoke:#f0f0f0;
    --night-rider:#343434;
    --black:#191b17;
    --transition:all 0.5s ease-in-out;
    --cream:#f5eec2;
    --seagreen:#416a59;
    --purple:#39395f;
    --darkgreen:#73a24e;
    --lightgreen:#a9c25d;

}

*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    color: var(--black);
    font-size: 1rem;
    font-weight: 300;
    line-height: 2;
    text-rendering: optimizeLegibility;
    scroll-behavior: smooth;
}


/* set up 6 reusable styling */

img{
    width: 100%;
}
a{
    text-decoration: none;
    color: var(--black);
}
li{
    list-style-type: none;
}
button{
    cursor: pointer;
    outline: 0;
    background: transparent;
}
.container{
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 1rem;
}

h1,h2,h3,h4,h5,h6{
    margin: 0.6rem 0;
    line-height: 1.25;
    font-weight: 400;
    text-transform: capitalize;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
section{
    padding: 2.2rem 0;
}
.header{
    background-image:linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.7)),url(../images/image1.jpg) ;
    min-height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}
.navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    z-index: 999;
}
.brand-and-toggler{
    font-size: 1.65rem;
    padding: 0.8rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar-brand{
    font-weight: 500;
    color: var(--purple);
    font-weight: bold;
}
.navbar-brand span{
    color: var(--darkgreen);
    font-weight: bolder;
    font-family: cursive;
}
.fa-seedling{
    color: var(--lightgreen);

}
.navbar-toggler{
    border: none;
    color: var(--darkgreen);
}

.navbar-nav{
    margin: 0.2rem 0 0.6rem 0;
}

.nav-item{
    padding: 0.4rem 0;
}

.nav-link{
    text-transform: uppercase;
    font-size: 0.95rem;
    letter-spacing: .5px;
    font-weight: 400;
    color: var(--night-rider);
    transition: var(--transition);
}

.nav-link:hover{
    color: var(--lightgreen)!important;
    font-weight: bold;
}
.navbar-collapse{
    display: none;
}

.hero-div{
    flex: 1;
    flex-direction: column;
    text-align: center;
    color: #fff;
}

.hero-div h1{
    font-size: 3.05rem;
    padding-bottom: 0.4rem;
}
.hero-h1{
    color: var(--darkgreen);
    font-weight: bold;
    font-family: cursive;
}

.hero-div p{
    color: #fff;
    font-size: 1.1rem;
    letter-spacing: 3px;
}
.hero-btns{
    margin-top: 2.8rem;
}

.hero-btns button{
    border: 3.5px solid #fff;
    border-radius: 2rem;
    padding: .8rem 2rem;
    text-transform: uppercase;
}
.btn-trans{
    color: #fff;
    transition: var(--transition);
    display:none ;
}
.btn-trans:hover{
    background-color: var(--darkgreen);
    border-color: var(--darkgreen);
}

.btn-white{
    background: var(--purple);
    border-color: var(--purple);
    color: #fff;
    transition: var(--transition);
}
.btn-white:hover{
    background: transparent;
    color: #fff;
}
/* welcome section */

.welcome-section{
    color: #fff;
    font-size: 3rem;
    height: 200px;
    background-color: var(--seagreen);
    padding-top: 64px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}

.welcome-section span{
    font-family: cursive;
    color: var(--darkgreen);
}

/* detail */
.detail{
    background:#e9ffdb;
}


.detail h1{
    text-align: center;
    font-size: 2.5rem;
    letter-spacing: 1.8px;
    font-weight: bold;
    font-style: italic;
    font-family: cursive;
    color: var(--purple);
}



.detail-item{
    background-color: #fff;
    text-align: center;
    box-shadow: 0 1px 2px 0 rgba(90,91,95,0.1);
    -webkit-box-shadow: 0 1px 2px 0 rgba(90,91,95,0.1);
    -moz-box-shadow: 0 1px 2px 0 rgba(90,91,95,0.1);
    margin: 2rem 0;
    padding: 1rem 1rem;
    border-radius: 24px;
    transition: var(--transition);
    color: var(--purple);

}
.detail-item p{
    color: var(--purple);
}
.detail-item:hover{
    transform: translateY(-5px);
}
.detail-item span{
    font-size: 2.5rem;
}    

.detail-item h2{
    font-size: 1.4rem;
    font-weight: 300;
}
.line{
    width: 60px;
    margin: 1.2rem auto;
    background: var(--darkgreen);
    height: 3px;
}
.detail-btn{
    padding: 20px 0 0 0;
    
}
.btn-box{
    padding: 10px;
    border-radius: 10px;
    background-color: var(--lightgreen);
    border-color: var(--lightgreen);
    color: #fff;
    transition: var(--transition);
    font-weight: bold;
}
.btn-box:hover{
    background-color: var(--purple);
    border-color: var(--purple);
    font-weight: bold;
    color: #fff;

}

.projects{
    
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    grid-gap: 20px;
}
.project-heading{
    text-align: center;
    font-size: 2.5rem;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-weight: bold;
    font-family: cursive;
    color: var(--purple);
    font-style: italic;
}

.project-cards{
    background-color: var(--lightgreen);
    box-shadow:0 4px 8px 0 rgba(0,0,0,0.2); 
   
   
}
.project-content{
    color: var(--purple);
}
.project-img{
    height: 225px;
    background-color: red;
    
}
.project-cards .img1{
    background-image: url(../images/project1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.project-cards .img2{
    background-image: url(../images/project2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.project-cards .img3{
    background-image: url(../images/project3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.project-cards .img4{
    background-image: url(../images/project4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.project-content{
    padding: 20px 10px;
    text-align: center;
}
.project-content h2{
    letter-spacing: 1.5px;
    font-weight: bold;
}
.project-content h3{
    margin-top: 5px;
    font-family: sans-serif;
}
.project-content p{
    margin: 15px 0px;
    font-size: 15px;
}
.project-content a{
    font-size: 17px;
    color: var(--purple);
    letter-spacing: 1.5px;
    display: inline-block;
    background-color:#e9ffdb ;
    transition: var(--transition);
    padding: 8px 15px;
}
.project-content a:hover{
 background-color: var(--seagreen);
 color: #fff;
 font-weight: bold;

}

/* pricing */

.pricing{
    background-color: var(--seagreen);
}

.pricing .row{
    margin-top: 2rem;
    
}
.pricing-heading{
    text-align: center;
    font-size: 2.5rem;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-weight: bold;
    font-family: cursive;
    font-style: italic;
    padding-top: 2rem;
    padding-bottom: 1rem;

}
.pricing-item{
    text-align: center;
    padding: 1.4rem 0;
    margin: 2rem 0; 
    background-color: #e9ffdb;
   
    border-radius: 5%;
}
.pricing-item h2{
    font-size: 2rem;
    color: var(--purple);
    font-style: italic;
    font-family: cursive;
}

.pricing-item .price{
    padding: 1.5rem 0 1rem 0;
    line-height: 1.1;
}
.pricing-item .price span{
    display: block;
}
.pricing-item .price span:first-child{
    font-size: 2.6rem;
    letter-spacing: 2px;
    color: var(--darkgreen);
    font-weight: bold;
}
.pricing-item .price span:last-child{
    font-size: 0.85rem;
    letter-spacing: 1;
    font-weight: 500;
}
.pricing-item ul li{
    padding: 0.8rem 0;
}
.pricing-btn{
    font-size: 17px;
    color: #fff;
    letter-spacing: 1.5px;
    display: inline-block;
    background-color: var(--darkgreen);
    transition: var(--transition);
    padding: 12px 15px;
    border-radius: 17px;
    
     
}

.pricing-btn:hover{
    background-color: var(--purple);
    color: #fff;
    font-weight: bold;
}


/* video section */
.video{
    background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.7)),url(../images/vedioimage.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    color: #fff;
    text-align: center;
}
.video a{
    font-size: 2.2rem;
    color: #fff;
    width: 95px;
    height: 95px;
    border-radius: 50%;
    background-color: var(--lightgreen);
    padding-left: 7px;
    margin: 0 auto;
}


.video h2{
    font-size: 3rem;
    color: var(--white-smoke);
    padding: 2.5rem 0;
    font-family:cursive;
    font-weight: bold;
    
}


/* team section */
.team{
    background-color:#18453b;
   
}


.team-img{
    position: relative;
    margin: 0;
}
.team-img img{
    border-radius: 100%;
    padding: 74px;
    height: 392px;
    width: 392px;
    
}
.team-heading{
    text-align: center;
    font-size: 2.5rem;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-weight: bold;
    font-family: cursive;
    margin-top: 1.2rem;
    font-style: italic;
    

}
.team-icons{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    background: var(--white-smoke);
    opacity: 0;
    transition: var(--transition);
}

.team-icons a{
    color: var(--night-rider);
    width: 50px;
    height: 50px;
    transition: var(--transition);
}
.team-icons a:hover{
    background:var(--lightgreen) ;
    color:#fff;
}
.team-img:hover .team-icons{
    opacity: 1;
}

.team-info{
    text-align: center;
    line-height: 1;
}

.team-info h3{
    font-size: 1.4rem;
    color: #e9ffdb;
    font-family: cursive;
}
.team-info span{
    font-size: .9rem;
    letter-spacing: 1px;
    font-weight: 500;
    opacity: 0.7;
    color: #e9ffdb;
}

/* aura section  */

.aura{
    background-color: #e9ffdb;
   
}



.aura-img{
    width: 50%;
    height: 20%;
    margin: 2.5rem auto;
    padding: 0.5rem;
}

.aura-item{
    text-align: center;
}
.aura .title h2{
    text-align: center;
    font-size: 2.5rem;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-weight: bold;
    font-family: cursive;
    color: var(--seagreen);
    

}
/* newsletter section */

.newsletter-container{
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.7)),url(../images/vedioimage.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
   
   
}

.newsletter-container h1{
 color: #fff;
 margin: 44px;
 text-align: center;
 font-size: 2.5rem;
 text-transform: uppercase;
 letter-spacing: 1.5px;
 font-weight: bold;
 font-family: cursive;
 color: #fff;
}

.newsletter-container .email{
    height: 150px;
    left: 45px;
    width: 50%;
    position: relative;
}

.newsletter-container .email input{
    width: 350px;
    margin-top: 34px;
    border: 2px solid var(--seagreen);
    padding-left: 64px;
    height: 40px;
}

.newsletter-container .email .icon{
    position: absolute;
    left: 115px;
    top: 31%;
    font-size: 15px;
}
.newsletter-container .email button{
    border: 2px solid #fff;
    padding: 6.5px;
    letter-spacing: 1px;
    margin-left: 8px;
    cursor: pointer;
    color: #fff;
    background-color: var(--lightgreen);
    right: 97px;
    top: .1px;
    position: relative;
    
    font-weight: bold;
}

.newsletter-container .email button:hover{
    background-color: var(--seagreen);
    border: none;
    letter-spacing: 1.2px;

}

/* blog section */

.Blogs{
    
    margin-left: 170px;
    margin-right: 190px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    grid-gap: 20px;
}
.Blog-heading{
    text-align: center;
    font-size: 2.5rem;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-weight: bold;
    font-family: cursive;
    font-style: italic;
}

.Blog-img{
    height: 140px;
    background-color: red;
}
.Blog-cards .img1{
    background-image: url(../images/auraimage6.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.Blog-cards .img2{
    background-image: url(../images/image1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.Blog-cards .img3{
    background-image: url(../images/auraimage1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.Blog-content{
    padding: 20px 10px;
    text-align: center;
}
.Blog-content h2{
    font-weight: bold;
    font-size: 20px;
}
.Blog-content h3{
    margin-top: 5px;
    font-family: sans-serif;
}
.Blog-content p{
    margin: 15px 0px;
    font-size: 15px;
}
.Blog-content a{
    font-size: 17px;
    color: #fff;
    letter-spacing: 1.5px;
    display: inline-block;
    background-color: var(--purple);
    transition: var(--transition);
    padding: 8px 15px;
}
.Blog-content a:hover{
 background-color: var(--darkgreen);
 color: #fff;
 font-weight: bold;

}
/* contact section */

.contact-us{
    
    width: 100%;
    height: auto;
    margin-top: 60px;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    background:var(--lightgreen);
}
.contact-map{
    width: 100%;
    height: auto;
    flex: 50%;
}

.contact-form{
    width: 100%;
    height: auto;
    flex: 50%;
    padding: 30px;
}

.contact-form h1{
    margin-top: 0;
    margin-bottom: 10px;
    text-align: center;
    font-size: 2.5rem;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-weight: bold;
    font-family: cursive;
}

.contact-form label{
    font-weight: bold;
}
.contact-form-txt{
    width: 100%;
    height: 40px;
    border: 1 px solid black;
    margin-bottom: 20px;
    padding: 15px;
    margin-top: 10px;
}

.contact-form-textarea{
    height:140px;
    border: 1 px solid black;
    margin-bottom: 20px;
    margin-top: 10px;
    padding: 15px;
}
.contact-map iframe{
    height: 100%;
    width: 100%;
}

.contact-form-btn{
    width: 50%;
    border: none;
    outline: none;
    text-transform: uppercase;
    padding: 10px 0;
    cursor: pointer;
    font-size: 18px;
    letter-spacing: 1.2px;
    font-weight: bold;
    background-color: var(--purple);
    color: #fff;

}
.contact-form-btn:hover{
    color: #fff;
    background: #18453b;
    border: 2px solid #18453b;
    transform: scale(1);
}

/* footer section */

.footer{
    text-align: center;
    color: var(--white-smoke);
    padding: 2rem 0;
    height: 30vh;
    background-color:var(--night-rider);
  
}

.footer .text{
    opacity: .8;
}

.footer-links{
    display: flex;
    justify-content: center;
    margin-top: 1.6rem;
}

.footer-links a{
    color: var(--white-smoke);
    opacity: .8;
    width: 50px;
    height: 50px;
    margin: 0 0.2rem;
    border-radius: 50%;
    transition: var(--transition);
}
.footer-links a:hover{
    background: var(--white-smoke);
    color: var(--night-rider);
    font-weight: bold;
}


/* Media Queries */

@media screen and (max-width:1200px) {
    .newsletter-container .email{
        position: relative;
        height: 130px;
        text-align: center;
        display: flex;
        justify-content: center;
        left: 14px;
    }

    .newsletter-container .email .icon{
    position: absolute;
    left: 15px;
    top: 36%;
    font-size: 15px;
    }

    .newsletter-container .email button{
        position: absolute;
        top: 37px;
        right: 4px;
    }
    
}
@media screen and (min-width:768px){
    .detail .row{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        margin: 0;
        gap: 2rem;
    }
    .detail-item{
        margin: 0;
    }
    .pricing .row{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-gap: 2rem;
    }
    .pricing-item{
        margin: 0;
    }
    .team-item{
        margin: 0;
    }
    

    
    
    
    
    
}


@media screen and (min-width: 992px)
{
    .navbar{
        background: transparent;
        margin-top: 1.4rem;
    }
    .navbar .container{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .navbar-brand{
        color: var(--white-smoke);
        font-size: 2rem;
    }
    .navbar-toggler{
        display: none;
    }
    .navbar-collapse{
        display: block !important;
    }
    .navbar-nav{
        display: flex;
        margin: 0;
    }
    .nav-item{
        margin-left: 1.8rem;
    }
    .nav-link{
        color: var(--white-smoke);
    }
    .hero-div h1{
        font-size: 3.8rem;
    }
    .btn-trans{
        display: inline-block;
        margin-right: 0.8rem;
    }
    /* change in navbar */
    .cng-navbar{
        -webkit-box-shadow:0 2px 5px 0 rgba(207,205,207,0.3);
        -moz-box-shadow:0 2px 5px 0 rgba(207,205,207,0.3);
        -box-shadow:0 2px 5px 0 rgba(207,205,207,0.3);
        margin-top: 0;
        background: #fff;

    }
    .cng-navbar .navbar-brand{
        color: var(--night-rider);
    }
    .cng-navbar .nav-link{
        color: var(--night-rider);
    }
    
   
}


@media screen and (min-width: 1200px)
{
    .hero-div h1{
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }
    .detail .row{
        grid-template-columns: repeat(3,1fr);
        margin: 0 12rem;
        
    }
    .pricing .row{
        grid-template-columns: repeat(3,1fr);
    }
   

}
